Support all built-in formats of JSON Schema

To be compatible with JSON Schema, maybe all of these should be implemented? Required for #54. Let's not do this now.

https://json-schema.org/understanding-json-schema/reference/string.html#built-in-formats

Hi, It would be great to keep track of what is implemented from the built-in formats and what is not. 

I made a list from the docs here to help track progress. 
Feel free to copy and adapt it.

Built-in formats
The following is the list of formats specified in the JSON Schema specification.

## Dates and times
Dates and times are represented in [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6). This is a subset of the date format also commonly known as [ISO8601 format](https://www.iso.org/iso-8601-date-and-time-format.html).

- [ ] "date-time": Date and time together, for example, 2018-11-13T20:20:39+00:00.
- [ ] "time": New in draft 7 - Time, for example, 20:20:39+00:00
- [ ] "date": New in draft 7 - Date, for example, 2018-11-13.
- [ ] "duration": New in draft 2019-09 - A duration as defined by the [ISO 8601 ABNF for "duration"](https://datatracker.ietf.org/doc/html/rfc3339#appendix-A). For example, P3D expresses a duration of 3 days.

## Email addresses

- [ ] "email": Internet email address, see [RFC 5321, section 4.1.2](http://tools.ietf.org/html/rfc5321#section-4.1.2).
- [ ] "idn-email": New in draft 7 - The internationalized form of an Internet email address, see [RFC 6531](https://tools.ietf.org/html/rfc6531).

## Hostnames

- [ ] "hostname": Internet host name, see [RFC 1123, section 2.1](https://datatracker.ietf.org/doc/html/rfc1123#section-2.1).
- [ ] "idn-hostname": New in draft 7 - An internationalized Internet host name, see [RFC5890, section 2.3.2.3](https://tools.ietf.org/html/rfc5890#section-2.3.2.3).

## IP Addresses

- [ ]  "ipv4": IPv4 address, according to dotted-quad ABNF syntax as defined in [RFC 2673, section 3.2](http://tools.ietf.org/html/rfc2673#section-3.2).
- [ ] "ipv6": IPv6 address, as defined in [RFC 2373, section 2.2](http://tools.ietf.org/html/rfc2373#section-2.2).

## Resource identifiers

- [ ] "uuid": New in draft 2019-09 - A Universally Unique Identifier as defined by [RFC 4122](https://datatracker.ietf.org/doc/html/rfc4122). Example: 3e4666bf-d5e5-4aa7-b8ce-cefe41c7568a
- [ ] "uri": A universal resource identifier (URI), according to [RFC3986](http://tools.ietf.org/html/rfc3986).
- [ ] "uri-reference": New in draft 6 - A URI Reference (either a URI or a relative-reference), according to [RFC3986, section 4.1](http://tools.ietf.org/html/rfc3986#section-4.1).
- [ ] "iri": New in draft 7 - The internationalized equivalent of a "uri", according to [RFC3987](https://tools.ietf.org/html/rfc3987).
- [ ] "iri-reference": New in draft 7 - The internationalized equivalent of a "uri-reference", according to [RFC3987](https://tools.ietf.org/html/rfc3987)
If the values in the schema have the ability to be relative to a particular source path (such as a link from a webpage), it is generally better practice to use "uri-reference" (or "iri-reference") rather than "uri" (or "iri"). "uri" should only be used when the path must be absolute.

## URI template

- [ ] "uri-template": New in draft 6 - A URI Template (of any level) according to [RFC6570](https://tools.ietf.org/html/rfc6570). If you don't already know what a URI Template is, you probably don't need this value.

## JSON Pointer

- [ ] "json-pointer": New in draft 6 - A JSON Pointer, according to [RFC6901](https://tools.ietf.org/html/rfc6901). There is more discussion on the use of JSON Pointer within JSON Schema in [Structuring a complex schema](https://json-schema.org/understanding-json-schema/structuring). Note that this should be used only when the entire string contains only JSON Pointer content, e.g. /foo/bar. JSON Pointer URI fragments, e.g. #/foo/bar/ should use "uri-reference".
- [ ] "relative-json-pointer": New in draft 7 - A [relative JSON pointer](https://tools.ietf.org/html/draft-handrews-relative-json-pointer-01).

## Regular Expressions

- [ ] "regex": New in draft 7 - A regular expression, which should be valid according to the [ECMA 262](https://www.ecma-international.org/publications-and-standards/standards/ecma-262/) dialect.

Be careful, in practice, JSON schema validators are only required to accept the safe subset of [regular expressions](https://json-schema.org/understanding-json-schema/reference/regular_expressions) described elsewhere in this document.
